.container{
    margin-bottom: 50px;
}
.nav-clr{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 30px;
}
.price{
    color: rgb(180, 131, 131);
}
.buy-now-button{
    background-image: linear-gradient(to bottom, rgb(180, 131, 131), rgb(218, 139, 139));
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 9px;
}
.asd{
    background-image: black;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 5px;
}
.cat-1{
    background-image: linear-gradient(to bottom, rgb(236, 145, 145), rgb(255, 125, 125));
}
.cat-2{
    background-image: linear-gradient(to bottom, rgb(182, 107, 145), rgb(218, 140, 185));
}
.cat-3{
    background-image: linear-gradient(to bottom, rgb(98, 151, 201), rgb(81, 132, 190));
}
.categories h1{
    color: rgb(245, 226, 226);
    text-shadow: cyan;
}
.categories img{
    width: 100px;
}